:root {
    --laranja: #ffa200;
    --cinza-claro: #F8F8F8;
    --cinza-medio: #7e7e7e;
    --cinza-escuro: #222222;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #1f1f1f;
    color: #FFFFFF;
    line-height: 1.6;
    overflow-x: hidden;
}

ol, ul {
	list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--cinza-medio);
    padding-right: 50px;
}

li {
    transition: 0.3s;
    font-size: 17px;
}

li:hover {
	color: white;
}

a {
    text-decoration: none;
    color: inherit;
}

#cabecalho {
    display: flex;
    align-items: center;
    padding-left: 70px;
}

#cabecalho img {
    width: 100px;
    margin: 16px 0;
    filter: invert(100%);
}

.cabecalho-title {
    font-size: 12px;
}

.cabecalho-title p{
    color:var(--cinza-medio);
}



.topicos {
    display: flex;
    gap: 32px;
    margin-left: auto;
    margin-right: 16px;
}

#home {
    display: flex;

}

.home-info {
    width: 1200px;
    margin: 0 auto;
    padding: 0 48px;
    padding-top: 130px;
}

.home-info h2{
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.home-info p{
    color: var(--cinza-medio);
}

.guitarra {
    width: 500px;
}

.links {
    margin-top: 32px;
    display: flex;
    gap: 16px;
}

.colection {
    font-weight: bold;
    background-color: #ffa200;
    padding: 10px 20px;
    border-radius: 15px;
    color: var(--cinza-escuro);
}

.test {
    font-weight: 100px;
    border: 0.5px solid white;
    padding: 10px 20px;
    border-radius: 15px;
}

#qualidades {
    display: flex;
    justify-content: space-around;
    margin: 150px 0;
}

.card {
    display: flex;
    gap: 15px;
    background-color: #282826;
    padding: 20px;
    border-radius: 15px;
    transition: 0.3s;
}

.card:hover {
    cursor: default;
    box-shadow: #7e7e7e 5px 5px 10px;
}

.icon {
    background-color: var(--cinza-medio);
    padding: 20px;
    border-radius: 50%;
}

.text p{
    color: var(--cinza-medio);
}

#produtos {
    text-align: center;
    font-size: 25px;
    margin-bottom: 150px;
}

#produtos iframe {
    margin-top: 50px;
    border-radius: 15px;
}

#avaliacoes {
    margin-left: 10%;
}

#avaliacoes h2{
    font-size: 25px;
}

.depoimentos {
    display: flex;
    gap: 70px;
    margin-top: 40px;
    align-items: center;
}

.depoimento {
    background-color: #282826;
    padding: 20px;
    border-radius: 15px;
    transition: 0.3s;
}

.depoimento:hover {
    box-shadow: #7e7e7e 5px 5px 10px;
}

#informacoes {
    margin-top: 100px;
    text-align: center;
    margin-bottom: 70px;
}

#formulario {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 300px;
    margin: 0 auto;
    margin-top: 30px;
}

#formulario input {
    padding: 10px;
    border-radius: 10px;
    border: none;
}

#formulario button {
    background-color: var(--laranja);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

#formulario button:hover {
    background-color: #ffa200d2;
}

#rodape {
    background-color: #1a1a1a;
    text-align: center;
    padding: 20px 0;
    margin-top: 50px;
}